.mobile-toggle{
    display: flex;
    background: none;
    color: #ffff;
    border: 2px solid #ffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.offcanvas-header{
    background: #F5F8FB;
}
.offcanvas.offcanvas-end .offcanvas-header .btn-close{
    margin-right: 10px;
    color: var(--optional);
}
.offcanvas-header .btn-close:focus{
    box-shadow: none !important;
}
/*.MobileMenu.active {*/
/*    right: 0;*/
/*}*/
.offcanvas-body .mobile-menu-list ul {

}
.offcanvas-body ul li {
    margin-bottom: 15px;
    list-style: none !important;
}
.offcanvas-body ul li > a{
    color: black;
    font-weight: 600;
}
.mobile-menu-list ul li > a > svg{
    color: var(--optional);
}
.mobile-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.mobile-submenu {
    padding-left: 15px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}
.rotate {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.mobile-phone {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

@media only screen and (min-width: 992px){
    .MobileMenu{
        display: none;
    }
}

@media only screen and (max-width: 990px){
    .hero-section{
        min-height: 600px;
    }
    .futures-section {
        margin-top:0;
        padding: 70px 0;
    }
    .futures-section .container > .row > .col-xxl-4:last-child{
        margin-bottom: 0 !important;
    }
    .about-section .container > .row > .col-md-10:nth-child(1){
        order: 2;
    }
    .about-section .container > .row > .col-md-12:nth-child(2){
        order: 1;
    }
    .chose-us-right > .chose-us-img > img{
        display: none;
    }
    .testimonials-section .container > .row > .col-xxl-6:last-child{
        margin-top: 30px;
    }
    .blog-section .container > .row > .col-xxl-4:last-child{
        margin-top: 30px;
    }
    .team-section .container > .row > .col-xxl-3{
        margin-bottom: 25px;
    }
    .team-section .container > .row > .col-xxl-3:nth-child(3),
    .team-section .container > .row > .col-xxl-3:nth-child(4) {
        margin-bottom: 0;
    }
    .bottom-flex-premium {
        gap: 0px;
    }
    .services-details__content{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 768px){
    .AppNavBar:before {
        -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
        clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
        width: 35%;
    }
}

@media only screen and (max-width: 576px){
    .hero-section h1 {
        font-size: 48px;
    }
    .bottom-flex-premium {
        justify-content: center;
        gap: 10px;
    }
    .contact-us .contact-us-right {
        margin-top: 25px;
    }
}
@media only screen and (max-width: 480px){
    .AppNavBar:before {
        width: 40%;
    }
    .hero-section h1 {
        font-size: 40px;
    }
    .hero-section {
        min-height: 580px;
    }
}
@media only screen and (max-width: 420px){
    .AppNavBar:before {
        clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
        width: 42%;
    }
    .hero-section h1 {
        font-size: 36px;
    }
    .hero-section {
        min-height: 550px;
    }
    .futures-section {
        padding: 60px 0;
    }
    .partner-section {
        padding: 60px 0px;
    }
    .about-section {
        padding: 60px 0;
    }
    .service-section {
        padding: 60px 0;
    }
    .chose-us-section {
        padding: 60px 0;
    }
    .testimonials-section{
        padding: 80px 0;
    }
    .team-section {
        padding: 60px 0px;
    }
    .blog-section {
        padding: 60px 0;
    }
}